$primaryColor: #5E81F4;
$primaryHoverColor: #475EAA;
$lightInfoColor: #5E81F419;
$backgroundPrimaryColor: rgba(128, 128, 128, 0.184);
$secondaryTextColor: #8181A5;
$white: #fff;
$primaryText: #1C1D21;
$outLine: #ECECF2;